{% extends "template-app.njk" %}
{% from "button/macro.njk" import govukButton %}

{% set step = 1 %}

{% block main %}
  <h1 class="govuk-heading-l">Úvod</h1>

  {{ govukButton({
  "text": "Začni",
  "href": "/examples/oznamenie-udajov-do-rmno/screen-2-name",
  "isStartButton": true
}) }}

{% endblock %}