{% extends "template-app.njk" %}

{% set step = 2 %}

{% block main %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Nemusite sa registrovat</h1>

    </div>
  </div>
{% endblock %}