{% extends "template-app.njk" %}
{% from "button/macro.njk" import govukButton %}
{% from "input/macro.njk" import govukInput %}

{% set step = 2 %}

{% block main %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="search" method="post" id="form">
        {{ govukInput({
  "label": {"text": "Zadajte meno alebo IČO"},
  "id": "input-example",
  "name": "name"
}) }}

        {{ govukButton({
  "text": "Ďalej"
}) }}
      </form>

      <script src="/public/vendor/app-oznamenie-udajov-rmno/js/storage.js"></script>
      <script>
        function init() {
          const form = document.getElementById("form");
          form.addEventListener('submit', handleSubmit);
        }

        function handleSubmit(e) {
          e.preventDefault();

          storage.edit((data) => {
            data['org']['name'] = e
              .target['name']
              .value
            return data;
          })

          const r = confirm("Nasli moji radcove?")

          if (r) {
            window.location = "screen-5-org-unit";
          } else {
            window.location = "screen-3-org-type";
          }

        }
        init();
      </script>

    </div>
  </div>
{% endblock %}