{% extends "template-app.njk" %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "button/macro.njk" import govukButton %}

{% set step = 3 %}

{% block main %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l">PDF - oznamenie statutarov</h1>

  <form>

    {{ govukFileUpload({
  "id": "file-upload-1",
  "name": "file-upload-1",
  "label": {
    "text": "Priložiť zápisnicu z valného zhromaždenia"
  }
}) }}
  </form>

  {{ govukButton({
  "text": "Zaslať cez elektronicky",
  "href": "https://slovensko.sk"
}) }}

  {{ govukButton({
  "text": "Zaslať papierovo",
  "href": "screen-9-paper-send"
}) }}


  {{ govukButton({
  "text": "Generuj PDF",
  "classes": "getpdf"
}) }}

{# <button id="getpdf">Click Me</button> #}

<script src="/public/vendor/app-oznamenie-udajov-rmno/js/storage.js"></script>
<script src="/public/vendor/app-oznamenie-udajov-rmno/js/pdfmake.min.js"></script>
<script src="/public/vendor/app-oznamenie-udajov-rmno/js/vfs_fonts.js"></script>
<script src="/public/vendor/app-oznamenie-udajov-rmno/js/create-pdf.js"></script>


    </div>
  </div>
{% endblock %}