{% extends "template-app.njk" %}
{% from "button/macro.njk" import govukButton %}

{% set step = 3 %}

{% block main %}

  <h1 class="govuk-heading-l">Informácie o štatutárovi</h1>

  {{ govukButton({
  "text": "Pridať ďalšieho",
  "href": "/examples/oznamenie-udajov-do-rmno/screen-7-org-statutory"
}) }}

  {{ govukButton({
  "text": "Všetci pridaní",
  "href": "/examples/oznamenie-udajov-do-rmno/screen-8-pdf"
}) }}
{% endblock %}